<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <!-- mybatis 설정 xml 파일 -->
  <configuration>
  
	<!--typeAlies세팅 : sql에서 자주 사용하는 (DTO)클래스 경로 줄여쓰기 위해 지정--> 
 	<typeAliases>
 		<typeAlias type="member.model.vo.MemberVo" alias="MemberVo"/>
 		<typeAlias type="decide.model.vo.CrawlingVo" alias="CrawlingVO"/>
 		<typeAlias type="decide.model.vo.HistoryVo" alias="historyVo"/>
 		<typeAlias type="decide.model.vo.FavListVO" alias="favListVO"/>
 	</typeAliases>

  
  	<!-- 매퍼경로세팅 sql 쿼리문이 작성되는 xml 파일들의 경로 설정 -->
  	<mappers>
  		<mapper resource="/sqls/memberSQL.xml"/>
  		<mapper resource="/sqls/crawlingSQL.xml"/>
  		<mapper resource="/sqls/qandaSQL.xml"/>
  		<mapper resource="/sqls/historySQL.xml"/>
  		<mapper resource="/sqls/favSQL.xml"/>
  	</mappers>
  	
  
  </configuration>